@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 125%;
}

h2 {
  text-align: center;
}

.about-us h2 {
  text-align: left;
}

header {
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
  height: 9vh;
}

nav {
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
  margin-right: 10px;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 1% 15px 8px; 
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  margin: 0 5px;
}

nav a#podval {
  color: white;
  text-decoration: none;
  padding: 1% 15px 8px;
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  margin: 0 5px;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.about-us {
  display: flex;
  align-items: center;
}

.about-us img {
  margin-left: auto;
}

.our-projects,
.our-team,
.our-services,
.contacts {
  margin: 20px 2% 2%;
}

.services {
  display: flex;
  justify-content: space-between;
}

.services-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  position: relative;
  max-width: 256px;
  padding: 100px;
  box-shadow: 0 0 5px rgb(0 0 0 / 0%);
  transition: box-shadow 0.3s ease;
}

.services-block img {
  border-radius: 8px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.black_button {
  color: white;
  background-color: black;
  width: 10ch;
  height: 5vh;
  border: 0;
  margin: 0 5vw;
}

.pils-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.pils {
  background: var(--pils-back);
  box-shadow: inset 0 0 0 1px var(--border),
    0 10px 30px -10px rgb(0 0 0 / 12%);
  border-radius: 60px;
  font-size: 13px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
  color: var(--text-primary);
}

.useful_sources a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.accordion i {
  font-size: 1.6rem;
}

.pils a{
  display: block;
  text-decoration: none;
  color: var(--main-2-fore);
  padding: 5px 10px;
}

.pils a i{
  padding-right: 2px;
}

nav a:hover {
  background-color: #f0f0f0; 
  box-shadow: 0 0 10px rgb(111 149 254 / 70%); 
  border: 1px solid #6f95fe; 
}

nav a#podval:hover {
  color: black;
  background-color: #f0f0f0; 
  box-shadow: 0 0 10px rgb(111 149 254 / 70%); 
  border: 1px solid #6f95fe; 
}

.pils a:visited,
.pils a:link{
  display: block;
  text-decoration: none;
  color: var(--main-2-fore);
  padding: 5px 10px;
}

.pils a:visited i,
.pils a:link i{
  padding-right: 2px;
}

.slider-nav a:hover {
  opacity: 1;
}

.pils:hover {
  box-shadow: inset 0 0 0 1px #6f95fe, 0 10px 35px -10px #6f95fe;
}

.logo-small {
  width: 25%;
  height: auto;
  float: right;
  margin: 5% 50px 5% 5%;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.projects-n {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
  max-width: 33%;
}

.team-members {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.team-members-n {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
  max-width: 32%;
}

.project-column .team-member-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  box-sizing: border-box;
}

.project-column img {
  max-width: 100%;
  height: auto;
  margin: 0;
  border-radius: 80%;
  overflow: hidden;
}

.team-member-column img {
  max-width: 100%;
  height: auto;
  margin: 0;
  border-radius: 80%;
  overflow: hidden;
}

form {
  position: relative;
  max-width: 700px;
  margin: 45px auto;
  text-align: left;
}

form input,
form textarea {
  width: calc(100% - 60px);
  font-size: 20px;
  padding: 10px 0 10px 30px;
  font-family: Montserrat, sans-serif;
  border: 1px solid #333;
  border-radius: 1px;
  margin-bottom: 20px;
}

.video-bg {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-bg video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.effects {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 60%);
}

.video-bg__content {
  z-index: 2;
  color: #fff;
  font-size: 50px;
}

.useful_sources {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
}

.useful_sources h2 {
  color: black;
}

.useful_sources div {
  font-size: 16px;
  line-height: 1.6;
  color: black;
}

.useful_sources ul {
  padding: 0;
}

.useful_sources li {
  margin-bottom: 8px;
}


.useful_sources a:hover {
  text-decoration: underline;
}

.services-block:hover {
  box-shadow: 0 0 10px rgb(60 61 61 / 70%);
}

.wrapper {
  max-width: 75%;
  margin: auto;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: rgb(0 0 0 / 80%);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}


.active,
.accordion:hover {
  background-color: #f1f7f5;
}

.pannel {
  padding: 0 2rem 2.5rem;
  overflow: hidden;
  background-color: #f1f7f5;
  display: none;
}

.pannel p {
  color: rgb(0 0 0 / 70%);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid rgb(0 0 0 / 20%);
  margin: 10px 0;
}

.faq.active {
  border: none;
}

@media (width <= 768px) {
  h1 {
    font-size: 100%; 
  }

  header {
    height: auto; 
  }

  nav {
    flex-direction: column; 
    text-align: center;
  }

  nav a {
    padding: 5px 0; 
    margin-bottom: 10px; 
  }

  .projects,
  .projects-n,
  .team-members,
  .team-members-n {
    flex-direction: column; 
    max-width: 100%; 
  }

  .logo-small {
    width: 50%; 
    margin-right: 0; 
  }

  .useful_sources {
    padding: 10px; 
  }

  .accordion {
    font-size: 1rem;
    padding: 1.5rem;
    min-height: 13vh;
  }

  .pannel {
    padding: 0 1rem 1.5rem; 
  }

  .services {
    flex-direction: column; 
    align-items: center; 
  }

  .services-block {
    margin-top: 10px; 
    max-width: 100%; 
    padding: 20px;
    z-index: 1;
  }
}

.container {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsl(0deg 0% 0% / 25%);
  border-radius: 0.5rem;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}


.scrollable-div{
  text-align: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.App-header{
  z-index: 3;
  margin-top: 90vh;
  margin-bottom:30vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  top: 20px;
  padding-bottom: 40%;

  .react-chatbot-kit-chat-bot-message {
    background-color:gray;
    color:white;
  }

  .react-chatbot-kit-chat-bot-message-arrow {
    border-right:8px solid gray;
  }

  .react-chatbot-kit-chat-btn-send {
    background-color:gray;
  }

}

.btn_setting{
  background-color:gray;
  color:white;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  padding: .5rem 1rem;
  margin-left: 0;
}

.second_btn{
  margin-left: 1rem;
}

.btn_toggle {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.btn_toggle:hover {
  background-color: #00000079;
}